<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/about.css">
        <link rel="stylesheet" type="text/css" href="css/nes.css/css/nes.css">
        <title>IGDB - My Profile</title>
    </head>
<body>

<div class = "header">
    <!--Header image here-->
    <img src="images/IGDB.png" height="75" width="200">
    <div id ="links">
        <a href ="/">Home</a>
        <a href ="/database"> Database</a>
        <a href="/login">Sign In/Register</a>
        <a href="/about">About</a>
      <form method="GET" action="search" id = "search">
          <input type="search" name="query" placeholder="Search Game Titles or Users.."><br>
          <button type="submit" value="Search">Search</button>
          <select name="search_select">
                            <option value="user">Users</option>
                            <option value="game">Games</option>
              </select>
      </form>
    </div>
  </div>

<div id = "page" class="nes-container is-rounded">

  
  

  <div class = "main-art">
    <div id = "art-container" >
        <p id ="text-container" >
          <h1 class = "art-class"><b>Sprites and Fonts</b></h1>
          <h2 class = "art-class anim-typewriter1"><b>Sprites</b></h2>
          <p class = "art-class anim-typewriter2">Borders and Cursor from NES.css by B.C. Rikko</p>
          <p class= "art-class anim-typewriter3">Typewriter and Fade-in Animations from CSS-tricks</p>
          <br>
          <h2 class = "art-class anim-typewriter4">Fonts</h2>
          <p class= "art-class anim-typewriter5">VCR OSD Mono by Riciery Leal</p>
          <p class = "art-class anim-typewriter6">Gravity by Vincenzo Vuono</p>
        </p>
    </div>
  </div>
  <div id = "button-art" >
        <button onclick = "typeWriterA()">Art</button>
  </div>

  <div class = "main-modules">
    <div id = "modules-container">
        <p id = "text-container"> 
          <h1 class = "art-class">Modules</h1>
          <p class = "art-class anim-typewriter1">> body-parser : 1.19.0</p>
          <p class = "art-class anim-typewriter2">> express : 4.17.1</p>
          <p class = "art-class anim-typewriter3">> express-session : 1.17.1</p>
          <p class = "art-class anim-typewriter4">> handlebars : 4.1.1</p>
          <p class = "art-class anim-typewriter5">> mongoose : 5.10.3</p>
          <p class = "art-class anim-typewriter6">> NES.css : 2.3.0</p>
        </p>
    </div>
  </div>
  <div id = "button-modules">
        <button onclick = "typeWriterM()">Modules</button>
  </div>


  <div class = "main-information ">
    <div id = "information-container">
        <p id = "text-container">
          <p class = "art-class anim-typewriter1"> Submitted by: Jediah Billones and Charles Ambas</p>
        </p>
    </div>
  </div>
  <div id = "button-information">
        <button onclick = "typeWriterI()">Information</button>
  </div>

</div>


<script src = "js/about.js"></script>
</body>
</html>
