<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/about.css">
        <link rel="stylesheet" type="text/css" href="css/nes.css/css/nes.css">
        <title>IGDB - My Profile</title>
    </head>
<body>

<div class = "header">
    <!--Header image here-->
    <img src="images/IGDB.png" height="75" width="200">
    <div id ="links">
        <a href ="/"> Home</a>
        <a href ="/database"> Database</a>
        <a href="/login">Sign In/Register</a>
      <form method="GET" action="search" id = "search">
          <input type="search" name="query" placeholder="Search Game Titles or Users.."><br>
          <button type="submit" value="Search">Search</button>
          <select name="search_select">
                            <option value="user">Users</option>
                            <option value="game">Games</option>
              </select>
      </form>
    </div>
  </div>

<div id = "page" class="nes-container is-rounded">

  
  

  <div class = "main-art">
    <div id = "art-container">
asdasdasdasdasdsasdsadsadasd
    </div>
  </div>
  <div id = "button-art" >
        <button onclick = "typeWriterA()">Art</button>
  </div>

  <div class = "main-modules">
    <div id = "modules-container">
        sdasdasdsadsadsadas
    </div>
  </div>
  <div id = "button-modules">
        <button onclick = "typeWriterM()">Modules</button>
  </div>


  <div class = "main-information ">
    <div class = "information-container">
        asdasdsadasdads
    </div>
  </div>
  <div id = "button-information">
        <button onclick = "typeWriterI()">Information</button>
  </div>

</div>


<script src = "js/about.js"></script>
</body>
</html>
