    <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/logreg.css">
        <link rel="stylesheet" type="text/css" href="css/nes.css/css/nes.css">

        <title>IGDB - Login</title>
    </head>
    <body>
<div class = "header">
    <!--Header image here-->
    <div id="header_logo" class="nes-container is-rounded is-dark" style="background-color: rebeccapurple !important">
      <center>
        <span id="banner_title">INTERNET GAMES DATABASE</span>
      </center>
    </div>
    <div id ="links">
        <a class="nes-btn" href ="/"> Home</a> 
        <a class="nes-btn" href ="/database"> Database</a> 
        <a class="nes-btn" href="/about">About</a>
    </div>
    <div id="sitesearch">
      <form method="GET" action="search" id = "search">
          <button type="submit" value="Search" class="nes-btn" style="float:left">Search</button>
          <div class="nes-select siteselect">
            <select name="search_select">
              <option value="user">Users</option>
              <option value="game">Games</option>
            </select>
          </div>
          <div class="nes-field is-inline"  >
              <input style="margin-left:8px !important" type="search" name="query" placeholder="Search Game Titles or Users.." class="nes-input">
          </div>
      </form>
    </div>
</div>

    <div class = "nes-container is-rounded" id="page">
        <div id = "log_box">
            <div id = "box_title">
                {{#if error}}
                    <h2>{{error}}</h2>
                {{else}}
                    <h2>Sign in to IGDB</h2>
                {{/if}}
            </div>
            <div id = "details">
                <form method="POST" action="login">
                    <p>Username</p>
                    <input  id = "uname" type="text" name="username" placeholder="Enter Username/E-mail">
                    <p>Password</p>
                    <input id = "pword" type="password" name="password" placeholder="Enter Password">
                    <br>
                    <button id ="sub" type="submit" value="Login">Login</button>
                    <br>
                    <br>
                </form>
                    <button id ="reg_mdl" value = "Register">Register</button>
                    <button id ="for_mdl" value = "Forgot Password">Forgot Password</button>
            </div>
        </div>
        
        <div class = "nes-container is-rounded" id = "register">
            <div id = "box_title">
                <h2></h2>
            </div>
            <div id = "details">
                <form method="POST" action = "register">
                <p>Username</p>
                <input  id = "uname" type="text" name="username" placeholder="Enter Username">
                <p>E-mail</p>
                <input  id = "umail" type="email" name="email" placeholder="Enter e-mail">
                <input  id = "umail2" type="email" name="" placeholder="Confirm e-mail">
                <p>Password</p>
                <input id = "pword" type="password" name="password" placeholder="Enter Password">
                <input id = "pword2" type="password" name="" placeholder="Confrm Password">
                <br>
                <br>
                <button id ="sub" type="submit" value="register">Register</button>
                </form>
            </div>

        </div>

        <div class = "nes-container is-rounded" id = "forgot">
            <div id = "box_title">
                <h2>Forgot your password?</h2>
            </div>
            <div id = "details">
                <form method="POST" action = "register">
                <p>Username</p>
                <input  id = "uname" type="text" name="username" placeholder="Enter Username">
                <p>E-mail</p>
                <input  id = "umail" type="email" name="email" placeholder="Enter E-mail">
                <button id ="sub" type="submit" value="forgotpassword">Retrieve Password</button>
                </form>
            </div>
        </div>

    </div>        
        <!--
        <div id="reg_Modal" class="modal">
            <div class="reg_modal">
                <span class="close1">&times;</span>
                <div id = "modal_title">
                    <h2>Something quirky  I don't know</h2>
                </div>
              <form method="POST" action="register">
                <p>Username</p>
                <input  id = "uname" type="text" name="username" placeholder="Enter Username">
                <p>E-mail</p>
                <input  id = "umail" type="email" name="email" placeholder="Enter e-mail">
                <input  id = "umail2" type="email" name="" placeholder="Confirm e-mail">
                <p>Password</p>
                <input id = "pword" type="password" name="password" placeholder="Enter Password">
                <input id = "pword2" type="password" name="" placeholder="Confrm Password">
                <br>
                <p>Birthday</p>
                <input id = "birth" type="date" name="birthday">
                <br>
                <br>
                <button id ="sub" type="submit" value="register">Register</button>
            </form>
            </div>
          
          </div>

          <div id="forgot_Modal" class="modal">
            <div class="for_modal">
                <span class="close2">&times;</span>
                <div id = "modal_title">
                    <h2>Something quirky  I don't know</h2>
                </div>
              <form method="POST" action="forgotpassword">
                <p>Username</p>
                <input  id = "uname" type="text" name="username" placeholder="Enter Username">
                <p>E-mail</p>
                <input  id = "umail" type="email" name="email" placeholder="Enter E-mail">
                <button id ="sub" type="submit" value="forgotpassword">Retrieve Password</button>
            </form>
            
            </div>
          
          </div>
        -->
    
    <script src="/js/login.js"></script>
    </body>
</html>