<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/user.css">
      <link rel="stylesheet" type="text/css" href="css/nes.css/css/nes.css">

        <title>IGDB - My Profile</title>
    </head>
    <body>
      <div class = "header"><!--Header image here-->
          <img src="images/IGDB.png" height="75" width="200">
          <div id ="links">
              <a href ="/"> Home</a> 
            <a href ="/database"> Database</a> 
            <a href="/login">Sign In/Register</a>
                    <a href="/about">About</a>

            <form method="GET" action="search">
              <input type="search" name="query" placeholder="Search Game Titles or Users.."><br>
              <button type="submit" value="Search">Search</button>
              <select name="search_select">
                                <option value="user">Users</option>
                                <option value="game">Games</option>
                            </select>
            </form>
          </div>
      </div>
        <div class = "page">
            <div id  = "body" class = "nes-container is-rounded">
                <b><p>Name:</p></b><p id= "name">John Doe</p>
                <b><p>Address:</p></b><p id = "address">Louisiana</p>
                <b><p>Date Registered: </p></b><p id ="date">2020</p>
                <b><p>Last Active since:</p></b><p id = "activesince">5 days ago</p>
                <b><p>Favorite Genres: </p></b><p id = "genre">Arcade</p>
            </div>
            <div id = "footer" class = "nes-container is-rounded">
                <h3>Recent Reviews</h3>
            </div>
            <div id = "playlists" class = "nes-container is-rounded">
              <div id = "playlist_s">
                <a href="/playlist"><h3>Playlist 1</h3></a>
                <a href="/playlist"><h3>Playlist 2</h3></a>
                <a href="/playlist"><h3>Playlist 3</h3></a>
              </div>
        <button id="addnew">Add New</button>
      <div id="makenew" class="modal">
      
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class = "forms">
            <div class ="form_title"><h1>Add new Playlist</h1></div>
            <form class = "form_form" id = "form_form" method="POST" action="playlist">
            <p>Playlist Name</p>
            <input type = "text" id = "play_title" placeholder = "Playlist name">
            <p>Playlist Description </p>
            <input type = "text" id = "play_desc" placeholder = "Playlist Description">
            <p>Playlist Visibility </p>
            <select name="private">
                            <option value="user">Public</option>
                            <option value="game">Private</option>
                        </select><br>
            <button id = "submit">Submit</button>
          </form>
          <br>
        </div>
      
      </div>
    </div> 
            </div>
            <div id = "comments" class = "nes-container is-rounded">
              <h3>Recent Comments</h3>
              <div id = "comment_s">
              </div>
            </div>
        </div>
          <script src = "js/playlist.js"></script>
    </body>
</html>
