@import "/node_modules/pixel-borders/src/styles/pixel-borders.scss";

@font-face{
  font-family: 'Gravity';
  src: url("fonts/Gravity-Book.otf") format("truetype");
}
@font-face{
  font-family: 'VCR';
  src: url("fonts/VCR_OSD.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}
html
{
  height: 100%;
}
#links button{
  width: fit-content;
  height: fit-content;
}
#links select{ 
  width:fit-content
}
body{
    margin: 0;
    padding: 0;
    background-color:white;
    background-size: cover;
    background-position: center;
    height: 100%;

   
  }
  .page
  {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: black;
  }
 .header {
    background-color:whitesmoke;
    height:12%;
    border-bottom:solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rebeccapurple;
  }
  .header a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    font-family: 'VCR', Fallback, sans-serif;
    color:white;
    float: center;
  }
  .header button,form 
  {
    font-family: 'VCR', Fallback, sans-serif;
  }
  
  .header a:hover
  {
    color: greenyellow;
  }

  .header img{
    margin-left: 10px;
    margin-top: 10px;
  }
  #links
  {
    grid-area: 1/5;
  }

#trending {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
	grid-area:  1 / 1 / 5 / 9;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 10px;
  grid-row-gap: 0px;
  font-family: 'Gravity', Fallback, sans-serif;
  font-size: 1em; 
  background-color: rebeccapurple;
}

#head_title {
  font-family: 'VCR', Fallback, sans-serif;
}

.leftt{
  
	grid-area: 2 / 1 / 4 / 6;
  display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: #E7DFDF;
  padding:3em;
	border:solid black;
  border-radius: 12px;
  box-shadow: inset 0px 0px 10px 10px  rgba(122,122,122,0.8);  

  

}


.gamepic
{
  grid-area: 1 / 1 / 2 / 4;

}
.gamedesc
{
  font-family: 'Gravity', Fallback, sans-serif;
  padding-top: 3em;
  grid-area: 1 / 4 / 2 / 6;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position:inherit;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
	background-color:rebeccapurple;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


#release-container{
  background-color: rebeccapurple;

  grid-area:5 / 1 / 9 / 7;
  margin: 1em;
  font-family: 'Gravity', Fallback, sans-serif;
  font-size: 1em;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;

}
#releases
{
  grid-area: 1 / 1 / 9 / 9;
  
  border: solid black;
  border-radius: 15px;
  background-color:  #E7DFDF;
  box-shadow: inset 0px 0px 10px 10px  rgba(122,122,122,0.8);  
}

.reviews{
  
  display:grid;
  grid-template-columns: minmax(0, 1fr) 300px;
  
  border: solid black;
  border-radius: 15px;
  background-color: #E7DFDF; /*#E7DFDF;*/
  color: black;
  box-shadow: inset 0px 0px 10px 10px  rgba(122,122,122,0.8); 
  white-space: nowrap;
  min-width: 0;
}
#reviews .reviews{
  
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}
#reviews{
  background-color: rebeccapurple;
  display: grid;
  font-family: 'Gravity', Fallback, sans-serif;
  font-size: 1em;
  grid-area: 5 / 7 / 9 / 9; 
  margin: 1em;
}

#title{
  margin: 2em;
  margin-left: 3em;
}

.card {
  color: white;
  background-color: rebeccapurple;
  float: left;
  width: calc(25% - 20px);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  height: 200px;
  font-family: 'Gravity', Fallback, sans-serif; 
}
.card:hover {
  box-shadow:0px 0px 5px 5px rgba(0,0,0,0.6);
  
  -webkit-transform: translate(-2px, -2px);
  transition: transform 0.1s;
}
.card p {
  font-size: 18px;
}
.cardContainer:after {
  content: "";
  display: table;
  clear: both;
}

.cardContainer{
  margin: 1em;
}
.revcard {
  color: white;
  background-color: rebeccapurple;
  float: center;
    word-break: break-all;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Gravity', Fallback, sans-serif; 
}
.revcard:hover {
  box-shadow:4px 4px 2px 0px rgba(122,122,122,0.8);
  
  -webkit-transform: translate(-2px, -2px);
  transition: transform 0.3s;
}
.review-container:after {
  content: "";
  display: table;
  clear: both;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #d16fd8;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b670d7;
}
::-webkit-scrollbar-thumb:active {
  background: #9a36a1;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #eee2e2;
}
::-webkit-scrollbar-track:active {
  background: #dedede;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


