/*CSS for pages with UI scriptwork*/
/*Inherited Styles*/
@font-face{
  font-family: 'Gravity';
  src: url("fonts/Gravity-Book.otf") format("truetype");
}
@font-face{
  font-family: 'VCR';
  src: url("fonts/VCR_OSD.ttf") format("truetype");
}

body{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
}

body h2{
  font-family: 'VCR', Fallback, sans-serif;
}
body p{
  font-family: 'VCR', Fallback, sans-serif;

}
#page
{
  background-color: #E7DFDF;
  margin-top: 6px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 88vh;
}
.header {
  background-color:whitesmoke;
  grid-area: 1 / 1 / 2 / 6; 
  height:12%;
  border-bottom:solid black;
  border-radius: 7px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: rebeccapurple;
}
.header a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color:white;
  float: center;
}
.header a:hover
{
  color: greenyellow  ;
}
#links
{
  grid-area: 1/5 ;
}


/*login.html*/
#log_box{
  margin-top: 20px;
    color: #fff;
    grid-area: 1 / 1 / 5 / 3;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    box-sizing: border-box;
    border-radius: 13px;
    /*display:flex;
    flex-direction: column;
    border: solid black;
    box-shadow: 5px 10px #888888;*/
}



/*login.html*/
#log_box p{
    margin: 0;
    padding: 0;
    color: black;
}

#log_box input{
    width: 100%;
    margin-bottom: 20px;
}

#box_title
{
    border-radius: 10px 10px 0px 0px;
    color: black;
    text-align: center;
}
#details
{
    padding: 40px 40px 40px 70px;
}
#uname, #pword,#pword2, #umail, #umail2
{
    font-family: 'Gravity', Fallback, sans-serif;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: red;
    font-size: 16px; 
}
#borth{
    font-family:monospace;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px; 
}
#sub
{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background:green;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    font-family: 'Gravity', Fallback, sans-serif;
  }
#sub:hover
{
    cursor: pointer;
    background:greenyellow;
    color: #000;
}
#log_box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

#log_box a:hover
{
    color: red;
}
/*
#reg_Modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  #forgot_Modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .reg_modal{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 15px;
  }
  .for_modal{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 15px;
  }
  
  .close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
*/

#register
{
  grid-area: 1 / 3 / 5 / 5;
    display: none;
    background-color: #E7DFDF;
  }
#for_mdl,#reg_mdl
{
  font-family: 'VCR', Fallback, sans-serif;
  border-radius: 6px;
}
#forgot{
  grid-area: 1 / 3 / 5 / 5;
    display: none;
    background-color: #E7DFDF;
  }

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

  