@import "/node_modules/pixel-borders/src/styles/pixel-borders.scss";

@font-face{
  font-family: 'Gravity';
  src: url("fonts/Gravity-Book.otf") format("truetype");
}
@font-face{
  font-family: 'VCR';
  src: url("fonts/VCR_OSD.ttf") format("truetype");
}

* {
    box-sizing: border-box;
  }
  body{
      margin: 0;
      padding: 0;
      background-color:#E7DFDF;
      background-size: cover;
      background-position: center;
      font-family: 'VCR', Fallback, sans-serif!important;
    }
  .page
  {
    height: 100%;
    width:100%;
    padding: 14px;
    background-color:#E7DFDF;
  }
  .header {
    min-height:60px;
    width:100%;
    padding:7px;
    background-color:#E7DFDF;
    float:left;
  }
  .header a{
    text-decoration: none;
    font-family: 'VCR', Fallback, sans-serif;
  }
  .header button,form,#search
  {
    font-family: 'VCR', Fallback, sans-serif;
  }

  .header img{
    margin-left: 10px;
    margin-top: 10px;
  }

  #header_logo{
    float:left;
    width:100%;
  }
  #banner_title{
    font-family: 'VCR', Fallback, sans-serif;
    font-size:5em;
  }
  #links
  {
    width:50%;
    float:left;
    text-align:left;
  }
  #sitesearch{
    width: 50%;
    float:left;
    text-align:right;
  }
  .siteselect{
    width:120px !important;
    float:left;
    margin-left:8px !important;
  }
    



    /*Modal*/

    #addnew {
      margin-left: 3em;
      margin-top: 3em;
    }
    .modal {
      display: none; 
      position: fixed;
      grid-area: 3 / 2 / 10 / 10;
      z-index: 2; 
      width: 40%;
      height: 40%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      overflow: auto; /* Enable scroll if needed */
      background-color:whitesmoke;
      border-radius: 10px;
    }

    .close {
      margin-right:28px ;
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: red;
      text-decoration: none;
      cursor: pointer;
    }


      #filter{
        height: 100%;
        position: fixed;
        width: 100%;
        background-color: rgba(0,0,0,0.3); /* Black background with opacity */
       z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover*/
        display: none;
      }


      .forms
      {
        margin-top: 3em;
        margin-left: 3em;
      }
      .forms input
      {
        width: 70%;
      }
