* {
  box-sizing: border-box;
}
@font-face{
  font-family: 'Gravity';
  src: url("fonts/Gravity-Book.otf") format("truetype");
}
@font-face{
  font-family: 'VCR';
  src: url("fonts/VCR_OSD.ttf") format("truetype");
}

body{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
} 

body h2,h3{
  font-family: 'VCR', Fallback, sans-serif;
}
body p{
  font-family: 'VCR', Fallback, sans-serif;

}
.header {
  min-height:60px;
  width:100%;
  padding:7px;
  background-color:#E7DFDF;
  float:left;
}
.header a{
  text-decoration: none;
  font-family: 'VCR', Fallback, sans-serif;
}
.header button,form,#search
{
  font-family: 'VCR', Fallback, sans-serif;
}

.header img{
  margin-left: 10px;
  margin-top: 10px;
}

#header_logo{
  float:left;
  width:100%;
}
#banner_title{
  font-family: 'VCR', Fallback, sans-serif;
  font-size:5em;
}
#links
{
  width:50%;
  float:left;
  text-align:left;
}
#sitesearch{
  width: 50%;
  float:left;
  text-align:right;
}
.siteselect{
  width:120px !important;
  float:left;
  margin-left:8px !important;
}


#page
{
  height:100%;
  width:100%;
  float:left;
  background-color:  #E7DFDF;
}

#gametitle
{
  background-color:  #E7DFDF;
  width:98%;
  margin:7px;
  height:auto;
  float:left;
}

#gamepic
{
  width:69%;
  max-height:500px;
  float:left;
  background-color:  #E7DFDF;
  margin:7px;
}
#gamepic img{
  width:auto;
  max-height:420px;
}

#gamefacts{
  background-color:  #E7DFDF;
  padding: 5px;
  width:28%;
  height:auto;
  font-family: 'VCR', Fallback, sans-serif;
  float:left;
  margin:7px;
}

#gamedesc{
  font-family: 'Gravity', Fallback, sans-serif;
  float:left;
  text-align: justify;
  background-color:  #E7DFDF;
  padding: 5px;
  font-stretch: condensed;
  width:100%;
  height:auto;
}

#commenter{
  margin-top:14px;
  background-color:  #E7DFDF;
  width:100%;
  float:left;
}

.cont{
  width:69%;
  float:left;
  margin-top:7px;
  margin-right:10.5px;
  margin-left:3.5px;
}

#reviews{
  margin-left:7px;
  margin-top:11.5px;
  height:auto;
  width:28%;
  background-color:  #E7DFDF;
  float:left;
  font-family: 'VCR', Fallback, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin-top: 10px;
  display: none;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #d16fd8;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #b670d7;
}
::-webkit-scrollbar-thumb:active {
  background: #9a36a1;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #eee2e2;
}
::-webkit-scrollbar-track:active {
  background: #dedede;
}
::-webkit-scrollbar-corner {
  background: transparent;
}