* {
    box-sizing: border-box;
  }
  body{
      margin: 0;
      padding: 0;
      background-color:white;
      background-size: cover;
      background-position: center;
      font-family:monospace;
    }
    .header {
      background-color:whitesmoke;
      height:fit-content;
      border-bottom:solid black;
      border-radius: 10px;
      border-top-left-radius:0px;
      border-top-right-radius:0px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      background-color: rebeccapurple;
    }
    .header a{
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color:white;
      float: center;
    }
    .header a:hover
    {
      color: greenyellow  ;
    }
    #links
    {
      grid-area: 1/5 ;
    }

    

    /*Grid stuff*/
    .page {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: auto;
        width: 100%;
        background-color: whitesmoke;
        border-radius: 10px;
        border: solid black 2px;
        margin-top: 5em;
    }
        
    .playground {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr); 
        /*background-color: limegreen;*/
        grid-area: 2 / 2 / 10 / 10;
        text-align: right; 
    }
    #return{
      padding-top:3em;
      padding-right: 3em;
      grid-area: 1 / 4 / 2 / 6;
    }
    
    .playsholder { 
        /*background-color: green;*/
        grid-area: 2 / 2 / 3 / 3;
        margin-left: 10px; 
        margin-top: 10px; 
    }
    .playarea {
       /* background-color: red;*/
         grid-area: 3 / 2 / 10 / 10;
    }
    .playbutton {
       /* background-color: blue;*/
         grid-area: 2 / 3 / 3 / 6; 
    } 


    /*Modal*/

    #addnew {
      margin-left: 3em;
      margin-top: 3em;
    }
    .modal {
      display: none; 
      position: fixed;
      grid-area: 3 / 2 / 10 / 10;
      z-index: 2; 
      width: 40%;
      height: 40%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      overflow: auto; /* Enable scroll if needed */
      background-color:whitesmoke;
      border-radius: 10px;
    }

    .close {
      margin-right:28px ;
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: red;
      text-decoration: none;
      cursor: pointer;
    }


      #filter{
        height: 100%;
        position: fixed;
        width: 100%;
        background-color: rgba(0,0,0,0.3); /* Black background with opacity */
       z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover*/
        display: none;
      }


      .forms
      {
        margin-top: 3em;
        margin-left: 3em;
      }
      .forms input
      {
        width: 70%;
      }
